{% extends "base.html.twig" %}

{% block title %}{{ projet.nomProjet }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ projet.nomProjet }}</h1>
                    <h4>{{ projet.descriptionProjet | nl2br }}</h4>
                    <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ projet.budget | number_format(0, '', ' ') }} €</div>

                    {% if is_granted('ROLE_FREELANCER') %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Postuler
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Postuler au projet :  <span class="text-primary">{{ projet.nomProjet }}</span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ path('postuler', {projets: projet.id}) }}" method="post">

                                            <div class="form-group">
                                                <label for="descriptionDevis">Décrivez votre offre</label>
                                                <textarea id="descriptionDevis" name="descriptionDevis" class="form-control" rows="3" required></textarea>
                                                <label for="offreDevis">Quel offre souhaitez-vous faire ?</label>
                                                <input type="number" id="offreDevis" name="offreDevis" class="form-control" required/>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Postuler</button>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <!--<a href="{##}{ path('postuler', {projet : projet.id}) }}" class="btn btn-primary">Envoyer</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="">
                <table class="table table-striped">
                    <tr>
                        <th>Nom du Projet</th>
                        <td> {{ projet.nomProjet }}</td>
                    </tr>
                    <tr>
                        <th>Déscription</th>
                        <td> {{ projet.descriptionProjet}}</td>
                    </tr>
                    <tr>
                        <th>Publié le</th>
                        <td> {{ projet.createdAt|date("m/d/Y") }}</td>
                    </tr>
                    <tr>
                        <th>Budget indicatif</th>
                        <td>{{ projet.budget | number_format(0, '', ' ') }} €</td>
                    </tr>
                </table>
            </div>
            <div class="">
                <h3 class="text-secondary"> Offres pour ce projet :</h3>
                {% for devi in devis %}

                    <div class="card flex-row flex-wrap">
                        <div class="card-header border-0">
                            {% if vich_uploader_asset(devi.etabliPar, 'imageFile') is null %}
                                <img id ="imagecard" src="{{ asset('images/user.svg') }}" alt="card image" >
                            {% else %}
                                <img id ="imagecard" src="{{ vich_uploader_asset(devi.etabliPar, 'imageFile')| imagine_filter('thumb') }}" alt>
                            {% endif %}
                        </div>
                        <div class="card-block px-2">
                            <h4 class="card-title">{{ devi.etabliPar.nomUser }} {{ devi.etabliPar.prenomUser }}</h4>
                            <p class="card-text">Email :{{ devi.etabliPar.email }} /
                                Numero de téléphone : {{ devi.etabliPar.telephoneUser }}</p>
                            <p class="card-text">Publié le  : {{ devi.dateDevis|date("m/d/Y")  }}</p>
                            <div class="text-primary">
                                Prix du devis :
                                {{ devi.offreDevis | number_format(0, '', ' ') }} €
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="card-footer w-100 text-muted">
                            <a href="#" class="btn btn-primary">Choisir ce Freelancer</a>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}