{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}


{% block body %}


    {% if app.user %}


        <div class="container">
            <h1>Vos informations personnelles</h1>
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ app.user.prenomUser }} {{ app.user.nomUser }} </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Prénom</td>
                                            <td>{{ app.user.prenomUser }} </td>
                                        </tr>
                                        <tr>
                                            <td>Nom</td>
                                            <td>{{ app.user.nomUser }} </td>
                                        </tr>
                                        <tr>
                                            <td>Adresse</td>
                                            <td>{{ app.user.adresseUser }}</td>
                                        </tr>

                                        <tr>
                                        <tr>
                                            <td>Ville/Code postal</td>
                                            <td>{{ app.user.ville }} {{ app.user.codePostalUser }}</td>
                                        </tr>
                                        <tr>
                                            <td>Pays</td>
                                            <td>{{ app.user.pays }} </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a></td>
                                        </tr>
                                        <td>Phone Number</td>
                                        <td>{{ app.user.telephoneUser }}<br><br>
                                        </td>

                                        </tr>

                                        </tbody>
                                    </table>
                                    <div class="btn-group">
                                    <a href="{{ path('user_edit', {id: app.user.id}) }}" class="btn btn-primary">Modifier mes informations</a>
                                    <a href="{{ path('user_password' , {id: app.user.id})}}" class="btn btn-secondary">Changer mon mot de passe</a>
                                    <a href="{{ path('user_edit', {id: app.user.id}) }}" class="btn btn-danger">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% else %}
        no records found
    {% endif %}

{% endblock %}