{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}

    <div class="container mt-4">
        <h1>Connexion</h1>

        {% for label, messages in app.flashes(['success', 'danger', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messagedata, 'security')}}
            </div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="_username" class="form-control" value="{{ lastUsername }}"/>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <br/>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                <a href="{{ path('forgottenPassword') }}">Mot de passe oublié ?</a>
            </div>

            <button type="submit" class="btn btn-primary">Se connecter</button>

        </form>
    </div>

{% endblock %}