{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}

    <div class="container mt-4">
        <h1>Vos Informations de connexion</h1>

        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}
            {{ form_row(form.typeUser) }}

        <h1>Vos Informations de contact</h1>

            {{ form_row(form.nomUser) }}
            {{ form_row(form.prenomUser) }}
            {{ form_row(form.telephoneUser) }}
            {{ form_row(form.adresseUser) }}
            {{ form_row(form.ville) }}
            {{ form_row(form.codePostalUser) }}
            {{ form_row(form.pays) }}

        <button type="submit" class="btn btn-primary">S'inscrire</button>
        {{ form_end(form) }}
    </div>

{% endblock %}