{% extends "base.html.twig" %}

{% block title %}Publier un nouveau projet{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        #content .hidden{
            display: none;
        }
        #content #loader{
            display: none;
        }
        body {
            font-family: sans-serif;
            line-height: 1.4;
            font-size: 18px;
            padding: 20px;
            max-width: 640px;
            margin: 0 auto;
        }

        .grid {
            max-width: 1200px;
        }

        /* reveal grid after images loaded */
        .grid.are-images-unloaded {
            opacity: 0;
        }

        .grid__item,
        .grid__col-sizer {
            width: 32%;
        }

        .grid__gutter-sizer { width: 2%; }

        /* hide by default */
        .grid.are-images-unloaded .image-grid__item {
            opacity: 0;
        }

        .grid__item {
            margin-bottom: 20px;
            float: left;
        }

        .grid__item--height1 { height: 140px; background: #EA0; }
        .grid__item--height2 { height: 220px; background: #C25; }
        .grid__item--height3 { height: 300px; background: #19F; }

        .grid__item--width2 { width: 66%; }

        .grid__item img {
            display: block;
            max-width: 100%;
        }


        .page-load-status {
            display: none; /* hidden by default */
            padding-top: 20px;
            border-top: 1px solid #DDD;
            text-align: center;
            color: #777;
        }

        /* loader ellips in separate pen CSS */

    </style>
{% endblock %}
{% block body %}

    <div class="container mt-4">
        <h1>Publier un projet</h1>

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="col-4">
            <button class="btn btn-primary">Créer</button>
            <a href="{{ path('user_projet_new') }}" class="btn btn-secondary">Retour</a>
        </div>
        {{ form_end(form) }}
    </div>

    <h1>Infinite Scroll - Masonry image grid</h1>

    <div class="grid are-images-unloaded">
        <div class="grid__col-sizer"></div>
        <div class="grid__gutter-sizer"></div>
        <div class="grid__item grid__item--height2"></div>
        <div class="grid__item grid__item--width2">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
        </div>
        <div class="grid__item grid__item--height3"></div>
        <div class="grid__item grid__item--height1"></div>
        <div class="grid__item grid__item--height2"></div>
        <div class="grid__item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look out" />
        </div>

        <div class="grid__item grid__item--height1"></div>
        <div class="grid__item grid__item--height3"></div>
        <div class="grid__item grid__item--height1"></div>
        <div class="grid__item grid__item--height3"></div>
        <div class="grid__item grid__item--height1"></div>
        <div class="grid__item grid__item--height1"></div>
        <div class="grid__item grid__item--width2">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/raspberries.jpg" alt="rasberries" />
        </div>
        <div class="grid__item grid__item--height2"></div>
        <div class="grid__item grid__item--height2"></div>
        <div class="grid__item grid__item--height3"></div>
        <div class="grid__item grid__item--height1"></div>
        <div class="grid__item grid__item--height2"></div>
    </div>

    <div class="page-load-status">
        <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
        </div>
        <p class="infinite-scroll-last">End of content</p>
        <p class="infinite-scroll-error">No more pages to load</p>
    </div>




    <a
        class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"
        data-toggle="modal"
        data-target="#dataModal"
        href="#"
>

    Editer mon profile

</a>

    <div class="container">
        <article class="post">...</article>
        <article class="post">...</article>
        <article class="post">...</article>
        ...
    </div>

{% block script %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/infinite-scroll/dist/infinite-scroll.pkgd.js') }}"></script>
    <script type="text/javascript">


    </script>
{% endblock script %}

{% include "modals/user_notation.html.twig" with
    {
        modal: { id: "dataModal", class: "modal fade", title: "Modifier un suivi commande" }
    }
%}

{% endblock %}