{% extends "base.html.twig" %}

{% block title %}{{ user.nomUser }} {{ user.prenomUser }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>{{ user.nomUser }} {{ user.prenomUser }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.nomUser }} </td>
                    </tr>
                    <tr>
                        <td>TelephoneUser</td>
                        <td>{{ user.telephoneUser }}</td>
                    </tr>
                    <tr>
                        <td>AdresseUser</td>
                        <td>{{ user.adresseUser }}</td>
                    </tr>
                    <tr>
                        <td>CodePostalUser</td>
                        <td>{{ user.codePostalUser }}</td>
                    </tr>
                    <tr>
                        <td>Ville</td>
                        <td>{{ user.ville }}</td>
                    </tr>
                    <tr>
                        <td>Pays</td>
                        <td>{{ user.pays }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
{% endblock %}