{% extends 'base.html.twig' %}

{% block title %}Freelancers{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.nomUser) }}
                </div>
                <div class="col">
                    {{ form_row(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
        <section id="team" class="pb-5">
            <div class="container">
                <h5 class="section-title h1">Nos Freelancers</h5>
                <div class="row flex">
                    <!-- les Freelancers -->
                {% for user in users %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">

                                            {% if vich_uploader_asset(user, 'imageFile') is null %}
                                                <img class=" img-fluid" src="{{ asset('images/user.svg') }}" alt="card image">
                                            {% else %}
                                                <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('thumb') }}" alt="card image">
                                            {% endif %}

                                            <h4 class="card-title">
                                                <a href="{{ path('user_show', {id: user.id, slug: user.slug}) }}">
                                                    {{ user.nomUser }} {{ user.prenomUser }}</a>
                                            </h4>

                                            <p class="card-text">Pour en savoir plus cliquer sur le bouton</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">
                                                <a href="{{ path('user_show', {id: user.id, slug: user.slug}) }}">
                                                {{ user.nomUser }} {{ user.prenomUser }}
                                                </a>
                                            </h4>
                                            <p class="card-text">Je vis actuellement au : {{ user.ville }} mon pays est :{{ user.pays }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </div>

                <div class="navigation">
                    {{ knp_pagination_render(users) }}
                </div>

            </div>

        </section>







{% endblock %}